/* styles font */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles */

*{
    font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    font-size: 20px;
    color: #FFF;
    font-weight: 600;
    cursor: pointer;
    border: 0;
    margin-top: 20px;
}

/* header style */

header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
/* banner styles */

.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    color:#131313;
    font-size: 64px;
    font-weight: 700;
}
.banner-description{
    color:#727272;
}
.banner img{
    margin-top: 40px;
    width: 100%;
}

/* main styles */

main{
    max-width: 1440px;
    margin: 70px auto;
}
/* teams styles */
.teams-container{
    display: flex;
    align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.teams-content{
    padding-right: 70px;
    padding-left: 70px;
}
.teams-title{
    font-size: 45px;
}
.teams-title .quick-list{
    color: #727272;
    font-weight: 500;
}
.teams-title .of-our{
    color: #131313;
    font-weight: 700;
}
.teams-title .features{
    color: #FF900E;
    font-weight: 700;
}
.teams-description{
    color: #727272;
    font-weight: 400;
}

/* feature section styles */

.features{
    margin-top: 130px;
    display: flex;
    gap: 100px;
}
.features .section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.section-text{
    color: #727272;
    font-weight: 400;;
}
.section-title{
    color:#131313;
    font-size: 45px;
    font-weight: 700;
}
.features-content .card{
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.card h4{
    font-size: 20px;
    font-weight: 600;
}
.ten-year{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    width: 260px;
    padding: 40px;
    text-align: center;
    position: relative;
    right: 60px;
    bottom: 82px;
}
.ten-year h2{
    font-size: 65px;
    font-weight: 700;
    margin: 0; 
}
.ten-year p{
    font-size: 25px;
    font-weight: 500;
    margin: 0;
}

/* facts section */

.fact-title{
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}
.section-text-info{
    font-weight: 400;
    color: #727272;
    padding-bottom: 60px;
}
.facts-card-container{
    display: flex;
    justify-content: space-around;
}
.facts-card-container .facts-card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;

}
.facts-card-container .card-stats{
    font-size: 45px;
    font-weight: 600;
    color: #424242;
    margin-top: 6px;
    margin-bottom: 6px;
}
.facts-card-container .card-title{
    font-weight: 600;
    color: #727272;
    margin-top: 5px;
}
/* sponsors-section */
.sponsors{
   text-align: center;
   padding-top: 30px;
}
.sponsors-title{
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}
.sponsors-description{
    font-weight: 400;
    color: #727272;  
}
.sponsors-img-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}
.sponsors-img-container img{
    width: 165px;
}
/* footer section */
.copyright{
    height: 100px;
    border-radius: 8px;
    background: #FFF4E7;
}
.copyright p{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    padding-top: 40px;
}
/* responsive styles */

/* mobile devices */

@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav,
    .teams-container,
    .features,
    .facts-card-container,
    .sponsors-img-container
    {
        flex-direction: column;
    }
    .features-img img{
        width: 100%;
    }
    .ten-year{
        position: relative;
        left: 30px;
        max-width: 260px;
    }
    .teams-img-container{
        grid-template-columns: 1fr;
    }
    .teams-content, .facts-card-container{
        padding-right: 20px;
        padding-left: 20px;
    }
    .facts-card-container{
        gap: 20px;
    }
    
}

/* tablet or medium devices */

@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 50px;
    }
    nav,
    .teams-container,
    .features
    {
        flex-direction: column;
    }
    .ten-year{
        position: relative;
        left: 480px;
        max-width: 260px;
    }
}